@{
    ViewData["Title"] = "Trang chủ - HatiShop";
}

<style>
    .home-background {
        background-image: url('/images/background_home.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll; /* Background cuộn theo */
        min-height: 100vh;
        width: 100%;
    }
</style>

<div class="home-background">
    <!-- Chỉ hiển thị background, không có nội dung gì khác -->
</div>